.App {
  background-color: #0a597a;
  min-height: 100vh;
  flex-direction: column;
  color: white;
}

.logo{
  display: flex;
  width: auto;
  height: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;
}

.login-block{
  width: 550px;
  height: 250px;
  background-color: #d9d9d9;
  margin: auto;
  color: black;
  border-radius: 10px;
  margin: center;
  text-align: center;
  padding-top: 25px;
}

.login-block p{
  font-size: xx-small;
  font-style: bold;
  padding-top: 20px;
  margin: 0;
}

.sign-in{
  display: block;
  margin: auto;
  padding: auto;
  margin-top: 30px;
  color: #6d6d6d;
  border: solid #6d6d6d;
  justify-content: center;
  align-items: center;
}

.sign-in:hover{
  background-color: #6d6d6d;
  color: white;
}

.email-box{
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 5px;
  margin: 0 auto;
  display: block;
}

.forgot-password{
  display: block;
  color: blue;
  font-size: xx-small;
  padding-top: 10px;
}
